streamlit
numpy>=1.26
opencv-python-headless
Pillow
pandas
torch>=2.4.0
torchvision
matplotlib
accelerate
scipy
# Installing transformers from source for latest model support
git+https://github.com/huggingface/transformers.git